.client-layout {
    height: calc(100vh - 80px);
  }

.side-nav{
  margin-left: 200px;
}
@media (max-width: 767px) {
  .side-nav {
    margin-left: 80px;
  }
  .UnProtective-side-nav {
    margin-left: 0px;
  }
  .navbar {
    margin-left: 80px !important;
  }
  .UnProtective-Nav {
    margin-left: 0px;
  }
}




/** Table Content*/
.custom-content {
  margin: 0;
  padding: 0;
}

.responsive-fixed-container {
  position: fixed;
  top: 150px;
  left: 220px;
  right: 30px;
  bottom: 0;
  overflow-y: auto;
  background-color: white;
  z-index: 1000;
}

@media (max-width: 768px) {
  .responsive-fixed-container {
      top: 100px;
      left: 80px;
      right: 0;
  }
}
/** Table Content end*/



.password-input-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}





/**input box design*/

.input-box {
  height: 48px;
  border-radius: 8px;
  transition: 0.3s;
}

.input-box:hover {
  border-color: #1890ff;
  box-shadow: 0 0 5px #1890ff;
  
}

/**input box design end */




.custom-select {
  height: 48px; 
  border-radius: 8px;
  transition: 0.3s;
  width: 100%; 
}

.custom-select:hover {
  border-color: #1890ff;
  /* box-shadow: 0 0 1px #1890ff; */
}



/* Custom styling for select dropdown */
.custom-select-dropdown {
  .ant-select-item-option:hover {
    background-color: #f5f5f5; /* Change the background color on hover */
  }
}

